<a href="https://colab.research.google.com/github/Kritdanai044/gold_price/blob/main/gold_price.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import requests

In [2]:
# r = requests.get("https://api.metalpriceapi.com/v1/latest?api_key=68d9e0ad972727023799a6066fc0eb7e")
r = requests.get("https://metals-api.com/api/latest?access_key=ephizl03tdr5t4y4g1jnuez2y98lo1u8978pcogqvbfec16z12zf7paaewk2")

In [3]:
r.status_code

200

In [4]:
r

In [5]:
gold_price = r.json()

In [6]:
gold_price

{'success': True,
 'timestamp': 1665727920,
 'date': '2022-10-14',
 'base': 'USD',
 'rates': {'AED': 3.673099978842944,
  'AFN': 85.57813899999971,
  'ALL': 119.36264900000052,
  'AMD': 401.5028700000067,
  'ANG': 1.7927672240559243,
  'AOA': 440.8976676513381,
  'ARS': 151.31739999999897,
  'AWG': 1.8024445112951086,
  'AZN': 1.7,
  'BAM': 2.00215,
  'BBD': 2.010125,
  'BDT': 101.62489199999969,
  'BGN': 1.998172,
  'BHD': 0.3770499,
  'BIF': 2056.87469999994,
  'BMD': 1,
  'BND': 1.4271895,
  'BOB': 6.879149999999999,
  'BRL': 5.2609,
  'BSD': 0.9954902301593322,
  'BTN': 82.0144029999999,
  'BWP': 13.37930462402147,
  'BYN': 2.524261,
  'BYR': 25242.61,
  'BZD': 2.006746,
  'CAD': 1.3723,
  'CDF': 2044.9897750511248,
  'CHF': 0.9982111058771574,
  'CLF': 0.03399442,
  'CLP': 938.0100000000336,
  'CNY': 7.170600000000001,
  'COP': 4578.754578754579,
  'CRC': 623.1196499999871,
  'CUC': 1,
  'CVE': 113.25028312570781,
  'CZK': 25.146073541200835,
  'DJF': 177.232042,
  'DKK': 7.602539248108869,
  'DOP': 53.611541492652535,
  'DZD': 139.93588137915208,
  'EGP': 19.659600000000005,
  'ETB': 52.667309558958685,
  'EUR': 1.02215544169,
  'FJD': 2.3142726750122424,
  'FKP': 0.883475,
  'GBP': 0.8842514811212309,
  'GEL': 2.769421816729634,
  'GHS': 10.801534336349409,
  'GIP': 0.883475,
  'GMD': 55.55555555555556,
  'GNF': 8596.303599997258,
  'GTQ': 7.8424130000000005,
  'GYD': 207.77536989210225,
  'HKD': 7.849909726038151,
  'HNL': 24.596801,
  'HRK': 7.699999999999998,
  'HTG': 124.43196806577971,
  'HUF': 437.2390000000075,
  'IDR': 15390.999999995536,
  'ILS': 3.5465100000000005,
  'INR': 82.36424930340436,
  'IQD': 1452.2218995062447,
  'ISK': 143.81999999999974,
  'JMD': 152.1945399999998,
  'JOD': 0.7089911707911519,
  'JPY': 147.46800000000022,
  'KES': 120.99999999999935,
  'KGS': 81.88064399999973,
  'KHR': 4108.463434675431,
  'KMF': 503.44862306801593,
  'KRW': 1428.3673760891302,
  'KWD': 0.31014,
  'KYD': 0.8290873009029756,
  'KZT': 476.11492000000266,
  'LAK': 17241.379310344826,
  'LBP': 1503.7593984962407,
  'LKR': 363.34304670411524,
  'LRD': 153.6398037712426,
  'LSL': 18.250000000000004,
  'LYD': 5.0124119999999985,
  'MAD': 10.963456497169071,
  'MDL': 19.36858415649816,
  'MGA': 4239.08435777872,
  'MKD': 63.074221999999914,
  'MMK': 2090.3010033444816,
  'MNT': 3359.9075809999454,
  'MOP': 8.049014000000003,
  'MUR': 44.04750399999999,
  'MVR': 15.459999999999999,
  'MWK': 1022.4948875255624,
  'MXN': 19.97893022018979,
  'MYR': 4.7,
  'MZN': 63.89335432443001,
  'NAD': 18.250000000000004,
  'NGN': 435.1999999999922,
  'NIO': 35.80139818780483,
  'NOK': 10.5404,
  'NPR': 131.19829967003628,
  'NZD': 1.76563024171478,
  'OMR': 0.3849702,
  'PAB': 0.9948737142127758,
  'PEN': 3.962315212477172,
  'PGK': 3.507782,
  'PHP': 58.882481166438396,
  'PKR': 217.52808999999954,
  'PLN': 4.91801,
  'PYG': 7098.39230000237,
  'QAR': 3.6410000000000005,
  'RON': 5.0461928493428845,
  'RSD': 119.82548616195373,
  'RWF': 1060.843839999983,
  'SAR': 3.7575818607996285,
  'SBD': 8.156742999999999,
  'SCR': 14.036181000000003,
  'SEK': 11.234379718439481,
  'SHP': 0.8830022075055188,
  'SLL': 16675.00000000104,
  'SRD': 28.068000000000033,
  'SSP': 130.26000000000028,
  'STD': 23080.940504005794,
  'SVC': 8.710518,
  'SZL': 18.192717273348308,
  'THB': 38.044,
  'TJS': 10.128551576610338,
  'TMT': 3.4935706073327952,
  'TND': 3.2619999999999996,
  'TOP': 2.4485798237022527,
  'TRY': 18.577099999999994,
  'TTD': 6.753943830420898,
  'TWD': 31.878999999999994,
  'TZS': 2320.7240659085633,
  'UAH': 36.71444599999999,
  'UGX': 3810.9756097560976,
  'UYU': 40.92381900000001,
  'UZS': 10989.010989010989,
  'VES': 8.258500000000002,
  'VND': 24152.99999997602,
  'VUV': 125.15594599999993,
  'WST': 2.845054,
  'XAF': 670.2318009999977,
  'XAG': 0.052556559796695,
  'XAU': 0.00059888644274605,
  'XCD': 2.7026,
  'XDR': 0.746019,
  'XOF': 676.500000000009,
  'XPD': 0.00048543689320388,
  'XPF': 122.4483298660048,
  'XPT': 0.0011037527593819,
  'YER': 250.24962399993993,
  'ZAR': 18.21880000000001,
  'ZMW': 15.83428500000001,
  'JEP': 0.883475,
  'GGP': 0.883475,
  'IMP': 0.883475,
  'CNH': 7.175540000000001,
  'ZWL': 322.0000000000001,
  'VEF': 825850.0000000002,
  'SGD': 1.4218750066650392,
  'AUD': 1.5799535493656487,
  'USD': 1,
  'BTC': 5.04964176579e-05,
  'BCH': 0.0090285301552907,
  'ETH': 0.0007541165336279,
  'LTC': 0.0191681042744873,
  'LINK': 0.1394700139470014,
  'XRP': 2.0097263520423985,
  'XLM': 8.682025169190965,
  'UNI': 0.1559697418700772,
  'ADA': 2.5994281258123215,
  'MTL': 0.9881422924901186,
  'ERN': 0.3179650238473768,
  'XRH': 7.2463768115942e-05,
  'RUTH': 0.0020283975659229,
  'XCU': 4.6096225871507,
  'ALU': 13.459346464608,
  'NI': 1.467130601442,
  'ZNC': 9.8686178311622,
  'TIN': 1.2600522685432,
  'LCO': 0.62390987949002,
  'IRD': 0.00024752475247525,
  'LEAD': 15.464165464165,
  'IRON': 337.00209643606,
  'LBXAUAM': 0.00059651634454784,
  'LBXAUPM': 0.00060675929858625,
  'LBXAG': 0.052151238591917,
  'LBXPTAM': 0.0011299435028249,
  'LBXPTPM': 0.0011454753722795,
  'LBXPDAM': 0.00046772684752105,
  'LBXPDPM': 0.00048543689320388,
  'LME-ALU': 13.542839090143,
  'LME-XCU': 4.1955761451129,
  'LME-ZNC': 10.878260869565,
  'LME-NI': 1.4667290145985,
  'LME-LEAD': 15.464502164502,
  'LME-TIN': 1.597550310559,
  'URANIUM': 0.0199203187251,
  'STEEL-SC': 88.084109589041,
  'STEEL-RE': 46.692662948763,
  'STEEL-HR': 58.776416819013,
  'BRONZE': 6.7829302325581,
  'MG': 8.349360839521,
  'OSMIUM': 1.7707640281113e-05,
  'RHENIUM': 0.021334240212342,
  'INDIUM': 0.072086771300448,
  'MO': 0.73099248120301,
  'TUNGSTEN': 102.2279809221,
  'LITHIUM': 0.428676,
  'XAU-AHME': 0.00056919936740451,
  'XAU-BANG': 0.00056919936740451,
  'XAU-CHEN': 0.00055575457025916,
  'XAU-COIM': 0.00056258717727009,
  'XAU-DELH': 0.00056808656316716,
  'XAU-HYDE': 0.000569757406,
  'XAU-KOCH': 0.00055570142868618,
  'XAU-KOLK': 0.000569757406,
  'XAU-MUMB': 0.000569757406,
  'XAU-SURA': 0.00056919936740451,
  'ANTIMONY': 2.8678048780488,
  'LTL': 3.5284922396282,
  'LVL': 0.7182067641144,
  'RUB': 63.492063492063,
  'BITUMEN': 54.57046373365,
  'GALLIUM': 0.10430776354639,
  'MN': 8094.2824512,
  'ND': 0.27494165934783,
  'TE': 0.52153881773196,
  'XAG-KOCH': 0.046641456991974},
 'unit': 'per ounce'}

In [7]:
import pandas as pd

In [8]:
gold = pd.DataFrame(gold_price)

In [9]:
gold

     success   timestamp        date base       rates       unit
ADA     True  1665727920  2022-10-14  USD    2.599428  per ounce
AED     True  1665727920  2022-10-14  USD    3.673100  per ounce
AFN     True  1665727920  2022-10-14  USD   85.578139  per ounce
ALL     True  1665727920  2022-10-14  USD  119.362649  per ounce
ALU     True  1665727920  2022-10-14  USD   13.459346  per ounce
..       ...         ...         ...  ...         ...        ...
YER     True  1665727920  2022-10-14  USD  250.249624  per ounce
ZAR     True  1665727920  2022-10-14  USD   18.218800  per ounce
ZMW     True  1665727920  2022-10-14  USD   15.834285  per ounce
ZNC     True  1665727920  2022-10-14  USD    9.868618  per ounce
ZWL     True  1665727920  2022-10-14  USD  322.000000  per ounce

[227 rows x 6 columns]

In [10]:
gold.dtypes

success         bool
timestamp      int64
date          object
base          object
rates        float64
unit          object
dtype: object

In [11]:
gold['timestamp'] = pd.to_datetime(gold['timestamp']).dt.date

In [12]:
gold.dtypes

success         bool
timestamp     object
date          object
base          object
rates        float64
unit          object
dtype: object

In [13]:
gold

     success   timestamp        date base       rates       unit
ADA     True  1970-01-01  2022-10-14  USD    2.599428  per ounce
AED     True  1970-01-01  2022-10-14  USD    3.673100  per ounce
AFN     True  1970-01-01  2022-10-14  USD   85.578139  per ounce
ALL     True  1970-01-01  2022-10-14  USD  119.362649  per ounce
ALU     True  1970-01-01  2022-10-14  USD   13.459346  per ounce
..       ...         ...         ...  ...         ...        ...
YER     True  1970-01-01  2022-10-14  USD  250.249624  per ounce
ZAR     True  1970-01-01  2022-10-14  USD   18.218800  per ounce
ZMW     True  1970-01-01  2022-10-14  USD   15.834285  per ounce
ZNC     True  1970-01-01  2022-10-14  USD    9.868618  per ounce
ZWL     True  1970-01-01  2022-10-14  USD  322.000000  per ounce

[227 rows x 6 columns]

In [14]:
gold = gold.reset_index().rename(columns={"index": "G/S"})
gold

     G/S  success   timestamp        date base       rates       unit
0    ADA     True  1970-01-01  2022-10-14  USD    2.599428  per ounce
1    AED     True  1970-01-01  2022-10-14  USD    3.673100  per ounce
2    AFN     True  1970-01-01  2022-10-14  USD   85.578139  per ounce
3    ALL     True  1970-01-01  2022-10-14  USD  119.362649  per ounce
4    ALU     True  1970-01-01  2022-10-14  USD   13.459346  per ounce
..   ...      ...         ...         ...  ...         ...        ...
222  YER     True  1970-01-01  2022-10-14  USD  250.249624  per ounce
223  ZAR     True  1970-01-01  2022-10-14  USD   18.218800  per ounce
224  ZMW     True  1970-01-01  2022-10-14  USD   15.834285  per ounce
225  ZNC     True  1970-01-01  2022-10-14  USD    9.868618  per ounce
226  ZWL     True  1970-01-01  2022-10-14  USD  322.000000  per ounce

[227 rows x 7 columns]

In [15]:
gold.dtypes

G/S           object
success         bool
timestamp     object
date          object
base          object
rates        float64
unit          object
dtype: object

In [16]:
gold['THBPrice'] = gold['rates'] * 37.94
gold

,G/S,success,timestamp,date,base,rates,unit,THBPrice
0,ADA,True,1970-01-01,2022-10-14,USD,2.599428,per ounce,98.622303
1,AED,True,1970-01-01,2022-10-14,USD,3.673100,per ounce,139.357413
2,AFN,True,1970-01-01,2022-10-14,USD,85.578139,per ounce,3246.834594
3,ALL,True,1970-01-01,2022-10-14,USD,119.362649,per ounce,4528.618903
4,ALU,True,1970-01-01,2022-10-14,USD,13.459346,per ounce,510.647605
...,...,...,...,...,...,...,...,...
222,YER,True,1970-01-01,2022-10-14,USD,250.249624,per ounce,9494.470735
223,ZAR,True,1970-01-01,2022-10-14,USD,18.218800,per ounce,691.221272
224,ZMW,True,1970-01-01,2022-10-14,USD,15.834285,per ounce,600.752773
225,ZNC,True,1970-01-01,2022-10-14,USD,9.868618,per ounce,374.415361
226,ZWL,True,1970-01-01,2022-10-14,USD,322.000000,per ounce,12216.680000

In [17]:
gold = gold.drop("timestamp", axis=1)
gold = gold.drop("success", axis=1)
gold = gold.drop("unit", axis=1)

In [18]:
# gold['THBPrice'] = gold['THBPrice'].round(5)
# gold['rates'] = gold['rates'].round(5)

In [19]:
gold.head(50)

         G/S        date base         rates       THBPrice
0        ADA  2022-10-14  USD      2.599428      98.622303
1        AED  2022-10-14  USD      3.673100     139.357413
2        AFN  2022-10-14  USD     85.578139    3246.834594
3        ALL  2022-10-14  USD    119.362649    4528.618903
4        ALU  2022-10-14  USD     13.459346     510.647605
5        AMD  2022-10-14  USD    401.502870   15233.018888
6        ANG  2022-10-14  USD      1.792767      68.017588
7   ANTIMONY  2022-10-14  USD      2.867805     108.804517
8        AOA  2022-10-14  USD    440.897668   16727.657511
9        ARS  2022-10-14  USD    151.317400    5740.982156
10       AUD  2022-10-14  USD      1.579954      59.943438
11       AWG  2022-10-14  USD      1.802445      68.384745
12       AZN  2022-10-14  USD      1.700000      64.498000
13       BAM  2022-10-14  USD      2.002150      75.961571
14       BBD  2022-10-14  USD      2.010125      76.264142
15       BCH  2022-10-14  USD      0.009029       0.342542
16       BDT  2022-10-14  USD    101.624892    3855.648402
17       BGN  2022-10-14  USD      1.998172      75.810646
18       BHD  2022-10-14  USD      0.377050      14.305273
19       BIF  2022-10-14  USD   2056.874700   78037.826118
20   BITUMEN  2022-10-14  USD     54.570464    2070.403394
21       BMD  2022-10-14  USD      1.000000      37.940000
22       BND  2022-10-14  USD      1.427190      54.147570
23       BOB  2022-10-14  USD      6.879150     260.994951
24       BRL  2022-10-14  USD      5.260900     199.598546
25    BRONZE  2022-10-14  USD      6.782930     257.344373
26       BSD  2022-10-14  USD      0.995490      37.768899
27       BTC  2022-10-14  USD      0.000050       0.001916
28       BTN  2022-10-14  USD     82.014403    3111.626450
29       BWP  2022-10-14  USD     13.379305     507.610817
30       BYN  2022-10-14  USD      2.524261      95.770462
31       BYR  2022-10-14  USD  25242.610000  957704.623400
32       BZD  2022-10-14  USD      2.006746      76.135943
33       CAD  2022-10-14  USD      1.372300      52.065062
34       CDF  2022-10-14  USD   2044.989775   77586.912065
35       CHF  2022-10-14  USD      0.998211      37.872129
36       CLF  2022-10-14  USD      0.033994       1.289748
37       CLP  2022-10-14  USD    938.010000   35588.099400
38       CNH  2022-10-14  USD      7.175540     272.239988
39       CNY  2022-10-14  USD      7.170600     272.052564
40       COP  2022-10-14  USD   4578.754579  173717.948718
41       CRC  2022-10-14  USD    623.119650   23641.159521
42       CUC  2022-10-14  USD      1.000000      37.940000
43       CVE  2022-10-14  USD    113.250283    4296.715742
44       CZK  2022-10-14  USD     25.146074     954.042030
45       DJF  2022-10-14  USD    177.232042    6724.183673
46       DKK  2022-10-14  USD      7.602539     288.440339
47       DOP  2022-10-14  USD     53.611541    2034.021884
48       DZD  2022-10-14  USD    139.935881    5309.167340
49       EGP  2022-10-14  USD     19.659600     745.885224

In [20]:
# TODO: save "to csv" file
gold.to_csv("output.csv", index=False)